maskin-app:
  image: registry.soloweb.pt/meeting-tracker-app:development
  container_name: meeting-tracker
  hostname: app
  environment:
    - VIRTUAL_HOST=meeting-tracker.soloweb.pt
    - TERM=xterm
    - APP_URL=https://meeting-tracker.soloweb.pt
  expose:
    - "80"
  restart: always
